*{
height:auto;
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


section{
min-height: 10vh;
padding: 50px;
box-sizing: border-box;
}

.navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: #181919;
color: #ffffff;
}

a{
  color: #ffffff;
}

.navigation{
list-style: none;
display: flex;
}

nav li{
padding-right: 20px;
}

.hero{
min-height: min-content;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
object-fit:contain; 
}

.cont-hero{
display: flex;
flex-direction: column;  
align-items: center;
font-weight: bold; 
padding: 20px;   
}

#about{
min-height:min-content ;
align-items: center;
padding: 20px;
background-color: rgb(245, 245, 245);
display: flex;
flex-direction: column;
margin-top: 60px;
}

.aboutspn{
color: aqua;
}

.about-container{
text-align: left;
}

.about-photo{
margin-top: 20px;

}



#projects{
  text-align: center;
}



.projects-title{
  margin-bottom: 70px;
  font-weight: bold;
  background-color:#ffffff;
  display: block;

}
 
.projets-container{
padding: 20px;
display: flex;
gap: 30px;              
justify-content: center;
flex-wrap: wrap;           
}

 

#skills{
padding: 20px;
text-align: center;
background-color: rgb(245, 245, 245);
}

.compétences-container{
display: flex;
justify-content: space-between;
border-radius: 3px;
text-align: center;
padding: 40px;
}
  
  
.skills-container{
list-style: none;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
}

progress{
width: 100%; 
height: 10px; 
appearance: none;
}

progress::-webkit-progress-bar {
border-radius: 10px;
}

progress::-webkit-progress-value {
background-color:aqua;
border-radius: 10px;
}

progress::-moz-progress-bar {
background-color: aqua;
border-radius: 10px;
}

h2{
text-align: center;
font-size: 20px;
margin-bottom: 20px;
}

h4 {
color: #ffffff;
}

.key{
margin-bottom: 20px;
}

.Auteur{
font-weight: bold;  
color: #00ffff;
}

button{
background-color: #00ffff; 
padding: 5px;
color: #ffffff;
font-weight: bold;
border-radius: 7px;
border: 20px;
}
      
.news{
display: flex;
color: #ffffff;
}

.btn{
text-align: center;
display: inline-block;
padding: 10px;
background-color:aqua;
color: white;
border-radius: 5px;
text-decoration: none;
cursor: pointer;
border:8px solid #00ffff;
border-radius: 10px;
background-color: #00ffff;
padding: 5px;
color: #ffffff;
font-weight: bold;
}

.devspn{
color: #00ffff;
}

.divclass{
display: flex;
flex-direction: column; 
}
  
#projects{
display: flex;
justify-content: center;
}

#subjet{
min-height: 50px;
}

.cases{
display: flex;
flex-direction: column;
background-color: rgb(179, 178, 178);
flex: 1 1 300px;          
max-width: 300px;           
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
display: flex;
justify-content: space-between;
}
    
.key {
display:inline-block;
align-items: center;
color:#070C0B;
padding: 3px 8px;
margin-right: 5px;
border-radius:  5px;
font-size: 12px;
}

#contacts{
display: flex;
flex-direction: column;
padding:20px;
align-items: center;
justify-content: center;
background-color: #070C0B;
color: white;
min-height: 20vh;
text-align: center;
}
  
.formlist{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 300px;
}
  
.cont-form{
margin-bottom: 30px;
}
  
  
#sujet{
margin-bottom: 20px;
border-radius: 10px;
padding: 10px;
display: block;
width: 100%;
margin-bottom: 5px;
}

#nom{
  border-radius: 5px;
}
#prenom{
  border-radius: 5px;
}

.foot{
display: flex;
justify-content: space-between;
padding: 10px;
}


    
  



  


 
  

  




  